body{
	font-family: Helvetica;
}

canvas, #kinetic-canvas{
	background: black;
	float: left;
}

.code-snippet{
	float: left;
	width: 400px;
	margin-left: 20px;
}

.code-snippet ol{
	list-style: none;
}