body{
	font-family: Helvetica;
}

canvas, svg, #kinetic-canvas{
	background: black;
	float: left;
	color: white;
}

svg{
	background: none;
}

.kiwi{
	fill: #f1001c;
}

.ground {
  fill: #787f6a;
}

.code-snippet{
	float: left;
	width: 400px;
	margin-left: 30px;
}

.code-snippet ol{
	padding: 0 0 0 20px;
}

.many-canvases{
	float: left;
}

.many-canvases canvas{
	clear: both;
	margin: 20px 0;
}